.home-wrapper {
  height: 100%;
  width: 100%;
  background: #ffffff;
  padding: 0 129px;
  overflow-y: scroll;
}

.home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.home-logo img {
  width: 310px;
  height: 112px;
}

.top {
  width: 100%;
  background: #efefef;
  text-align: center;
  padding: 38px 269px;
}

.top-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-bottom: 18px;
}

.top-des {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.bottom {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
}

.card-list {
  display: flex;
}

.card-item:nth-child(1),
.card-item:nth-child(2) {
  padding-right: 20px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-content {
  margin-top: 18px;
  text-align: justify;
}

.card-logo {
  width: 128px;
  height: 128px;
  float: left;
  padding-bottom: 6px;
  padding-right: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home-wrapper {
    padding: 30px 40px;
    width: 100%;
  }

  .top {
    padding: 38px 100px;
  }

  .card-title {
    font-size: 20px;
    line-height: 24px;
  }

  .card-content {
    margin-top: 16px;
  }

  .card-logo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .home-wrapper {
    padding: 30px 40px;
    width: 100%;
  }

  .home-logo img {
    width: 260px;
    height: 80px;
  }

  .top {
    padding: 25px 50px;
  }

  .card-list {
    flex-direction: column;
  }

  .card-item{
    padding-bottom: 25px;
  }

  .card-title {
    font-size: 18px;
    line-height: 20px;
  }

  .card-content {
    margin-top: 16px;
  }

  .card-logo {
    width: 100px;
    height: 100px;
  } 
}
